{% extends "base.html" %}

{% block content %}
    <h1>Edit Existing Dream Journal Entry</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br><br>
            {{ form.title(cols=100,rows=1)}}<br>
            {{ form.entry.label }}<br><br>
            {{ form.entry(cols=100,rows=50)}}<br>
            {% for error in form.entry.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <a href="{{ url_for('index') }}">Cancel</a>
{% endblock %}